body {
  min-width: 300px;
  font-family: "sans";
  margin: 0;
  font-family: roboto, ubuntu, arial, sans-serif;
  font-size: 12px;
  color: #5a5a5a;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.hidden {
  display: none !important;
}
table {
  width: 100%;
  border-spacing: 0;
}
table button {
  display: block;
  width: 85%;
  margin: auto;
}
table td {
  padding: 5px;
  min-height: 20px;
}
tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}
#empty-table {
  background-color: #EEEEEE;
}
#empty-table td {
  padding: 8px;
}
.code {
  font-family: "monospace";
}
.checkbox-container * {
  cursor: pointer;
}
.checkbox-container {
  align-items: center;
  display: inline-flex;
  margin-top: 4px;
}
.error-row {
  background-color: #FF6666;
  border-color: #FF0000;
  border: 3px solid;
  border-radius: 6px;
  color: #990000;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
.small-column {
  width: 10em;
}
.toolbar {
  background-color: #f3f3f3;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  height: 26px;
}
.toolbar :hover {
  color: black;
}
#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}
div#authenticators {
  margin: 10px;
}
