body {
  min-width: 300px;
  font-family: "sans";
  margin: 0;
  font-family: roboto, ubuntu, arial, sans-serif;
  font-size: 12px;
  color: #5a5a5a;
}
.hidden {
  display: none !important;
}
.code {
  font-family: "monospace";
}
.checkbox-container * {
  cursor: pointer;
}
.checkbox-container {
  align-items: center;
  display: inline-flex;
  margin-top: 4px;
}
.toolbar {
  background-color: #f3f3f3;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  height: 26px;
}
.toolbar :hover {
  color: black;
}
#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}
div#authenticators {
  margin: 10px;
}
